.head-text {
    font-size: 20px;
    font-weight: 500;
}
.language-button {
    height: 32px;
    padding: 0 15px;
    color: var(--primary-50);
    stroke: var(--primary-50);
    background-color: var(--secondary-600);
}
.language-button:hover {
    background-color: var(--secondary-500);
}
.lng-list {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    color: var(--secondary-500);
    background-color: var(--secondary-50);
}
.language-button,
.lng-list {
    border-radius: 6px;
}

.lng-chevron {
    transition: transform 0.2s ease-in-out;
}
.language-button.rotate .lng-chevron {
    transform: rotate(-180deg);
}

.lng {
    width: 100%;
}