.auth-footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 16px;
    color: var(--secondary-200);
    font-family: var(--font);
    font-size: 12px;
    background-color: var(--secondary-800);
}
.language-button {
    height: 15px;
    padding-top: 0;
    padding-bottom: 0;
    stroke: var(--secondary-200);
}
.language-list {
    width: 100px;
    padding: 5px;
    border-radius: 3px;
    background-color: var(--secondary-100);
    bottom: 100%;
    gap: 5px;
}
.language-list-lng {
    padding: 2px;
    color: var(--secondary-900);
}
.language-list-lng:hover {
    color: var(--secondary-500);
}


@media (max-height: 1024px) {
    .auth-footer {
        margin-top: 270px;
    }
}